@font-face {
    font-family: 'interregular';
    src: url('/src/fonts/inter-variablefont_slntwght-webfont.woff') format('woff2'),
         url('/src/fonts/inter-variablefont_slntwght-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Conv_GalaxieCopernicus-Book';
	src: url('/src/fonts/GalaxieCopernicus-Book.eot');
	src: local('☺'), url('/src/fonts/GalaxieCopernicus-Book.woff') format('woff'), url('/src/fonts/GalaxieCopernicus-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// Typography
$font-size-base: 1.125rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.125rem;

$h6-font-size: 0.875rem;
$h5-font-size: 1.5rem;
$h4-font-size: 1.5rem;
$h3-font-size: 2rem;
$h2-font-size: 2.75rem;
$h1-font-size: 4rem;

$headings-color: $bg-dark-gray;
$headings-font-family: 'Conv_GalaxieCopernicus-Book';
$body-font-family: 'interregular';

h5, h6 {
    font-family: $body-font-family !important;
    font-weight: 700;
}

body {
    font-family: 'interregular' , Arial, sans-serif !important;
    font-weight: 500;
}

h1,h2,h3,h4,p {
    font-family: $headings-font-family;
    font-weight: 400;
}