.beneficiaries__section {
    padding-bottom: 120px;

    @include media-breakpoint-down(lg) {  
        padding-bottom: 90px;
    }

    @include media-breakpoint-down(md) {  
        padding-bottom: 60px;
    }

    @include media-breakpoint-down(sm) {  
        padding-bottom: 40px;
    }

    .section__heading {
        color: $primary;
    }
}

.beneficiaries__media--container {
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: nowrap;
    touch-action: pan-y;
    cursor: grab;
    user-select: none;

    @include media-breakpoint-down(xl) {  
        gap: 40px;
    }

    @include media-breakpoint-down(lg) {  
        gap: 30px;
    }

    @include media-breakpoint-down(md) {  
        gap: 24px;
    }

    @include media-breakpoint-down(sm) {  
        gap: 16px;
    }

    .media {
        flex: 0 0 20%;
        max-width: 20%;
        touch-action: pan-y;
        cursor: grab;
        user-select: none;

        @include media-breakpoint-down(lg) {  
            flex: 0 0 33.33333vw;
            max-width: 33.33333vw;
        }
    
        @include media-breakpoint-down(md) {  
            flex: 0 0 50vw;
            max-width: 50vw;
        }
    
        @include media-breakpoint-down(sm) {    
            flex: 0 0 70vw;
            max-width: 70vw;
        }
    }
}
