.news {
    padding: 60px 0;

    > .container-xxl {
        position: relative;
    }

    .hero__content {
        position: absolute;
        top: 80px;
         
        @include media-breakpoint-down(md) { 
            position: relative;
            top: 0;
        }
    }

    .btn-link {
        position: absolute;
        bottom: 100px;

        @include media-breakpoint-down(md) { 
            position: relative;
            bottom: 0;
            padding-top: 2rem;
        }
    }

    .section__heading {
        color: $primary
    }

    &__media {
        display: flex;
        flex-direction: row;
        align-items:  center;
        overflow: hidden;
        
        @include media-breakpoint-down(md) {  
            align-items:  normal;
            flex-direction: column;

            h2, h3, p {
                font-size: calc(1.4rem + 1.8vw);
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }

        &--wrapper {
            flex: 0 0 50%;
            max-width: 50%;

            @include media-breakpoint-down(md) {    
                flex: 0 0 82vw;
                max-width: 82vw;

                &-second {
                    flex: unset !important;
                    max-width: unset !important;
                    display: flex;
                }
            }

            @include media-breakpoint-down(sm) {  
                flex: 0 0 90%;
                max-width: 90%;
                
                &-second {
                    flex: 0 0 90vw;
                    max-width: 90vw;
                }
            }
        }
    }
}

.news__media--wrapper .news__media--wrapper {
    flex-direction: row;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;

    .media--bordered {
        border-top-width: 0;
        
        @include media-breakpoint-down(md) {  
            border-top-width: 1px;
        }
    }
}

.news__media--wrapper .news__media--wrapper {

    .media--bordered {
        border-left: 0;

        &:first-child {
            border-left: 1px solid #fff;
            @include media-breakpoint-down(md) {  
                border-left: 0;
            }
        }
    }
}

.news__media--wrapper + .news__media--wrapper { 
    @include media-breakpoint-down(md) {  
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;

        > div {
            flex: 0 0 70vw;
            max-width: 70vw;
            &.news__media--wrapper {
                flex: 0 0 140vw;
                max-width: 140vw;
            }
        }
    }
    @include media-breakpoint-down(sm) {  
        > div {
            flex: 0 0 90%;
            max-width: 90%;
            &.news__media--wrapper {
                flex: 0 0 180%;
                max-width: 180%;
            }
        }
    }
}

.news__media--wrapper:first-child .media--bordered {
    @include media-breakpoint-down(md) {  
        width: 80vw;
        flex: 0 0 80vw;
    }
}