<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <div class="container-fluid me-0 pe-0 ps-xl-7 ps-lg-6 ps-md-5 ps-sm-4 ps-3">
        <!-- Header with Social link -->
        <header class="header">
            <div class="container-xxl px-xl-7 px-lg-6 px-md-6 px-5">
                <div class="header__wrapper"> 
                    <div class="header__social">
                        <a href="#" class="header__social--link">
                            <svg width="20" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16">
                                <use href="images/sprite.svg#twitter"></use>
                            </svg>
                        </a>

                        <a href="#" class="header__social--link">
                            <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16">
                                <use href="images/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-md bg-white">
            <div class="container-xxl px-xl-7 px-lg-6 px-md-6 px-5 ps-md-5 ps-sm-5 ps-3">
                <a class="navbar-brand navbar-brand--primary" href="#">
                    <img src="images/logo.png" alt="Company Logo">
                </a>

                <a class="navbar-brand navbar-brand--white hide" href="#">
                    <img src="images/logo-white.png" alt="Company Logo">
                </a>

                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navigationBar" aria-controls="navigationBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <span></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navigationBar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle" id="navbarFounder" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Founders
                            </s>
                            <ul class="dropdown-menu" aria-labelledby="navbarFounder">
                                <li><a class="dropdown-item" href="#">Maria Kenter</a></li>
                                <li><a class="dropdown-item" href="#">Roger Septimus</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Beneficiaries</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle" id="navbarScholarship" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Scholarships
                            </sp>
                            <ul class="dropdown-menu" aria-labelledby="navbarScholarship">
                                <li><a class="dropdown-item" href="#">Sed ut tincidunt euismod malesuada</a></li>
                                <li><a class="dropdown-item" href="#">Nunc, sit in varius pulvinar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Press</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Hero Section -->
        <section class="hero bg-white">
            <div class="container-xxl px-xl-7 px-lg-6 px-5 pb-xl-7 pb-lg-6 pb-md-6 pb-5 ps-sm-5 ps-3">
                <div class="hero__content">
                    <h1 class="hero__title">
                        Ullamcorper diam turpis egestas egestas fames enim risus sed proin
                    </h1>
                    <button class="btn btn-outline-primary btn-primary--animated btn-lg btn-arrow">
                        Read More
                    </button>
                </div>
            </div>
            <div class="container-fluid ps-xl-7 ps-lg-6 ps-sm-5 ps-3 pb-xl-7 pb-lg-6 pb-md-6 pb-5 pe-0 hero__media--container">
                <div class="hero__media">
                    <img src="images/hero.jpg" alt="Company Hero Image">
                </div>
            </div>
        </section>
    </div>

    <!-- Our Mission -->
    <div class="container-fluid ms-0 ps-0 pe-xl-7 pe-lg-6 pe-md-5 pe-sm-4 pe-3">
        <section class="hero mission">
            <div class="container-xxl px-xl-7 px-lg-6 px-5 py-xl-7 py-lg-6 py-md-6 py-5">
                <div class="hero__content ps-xl-7 ps-lg-6 ps-sm-4 ps-md-5 ps-0">
                    <h5 class="section__heading">
                        Our Mission
                    </h5>
                    <h2 class="hero__title">
                        Imperdiet quis leo scelerisque nunc magna mattis vitae non non
                    </h2>
                    <p class="hero__subtitle">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    </p>
                </div>
            </div>

            <div class="container-fluid pe-xl-7 pe-lg-6 pe-sm-5 pe-3 pb-xl-7 pb-lg-6 pb-md-6 pb-5 ps-0 hero__media--container">
                <div class="hero__media">
                    <img src="images/mission.jpg" alt="Company Hero Image">
                </div>
            </div>
        </section>
    </div>
</body>
</html>